
.side-menu {
	background: url("../img/pat.png") repeat;
}

.ideninfo {
	background: url("../img/4651653307_6b7ddc7c79_o.jpg") center center fixed;
	background-size: cover;
}
.segui {
	background: url("../img/4651653307_6b7ddc7c79_o2.jpg") center center fixed;
	background-size: cover;
}

.success {background-color: #B9C8FF;}
.important {background-color: rgba(250, 250, 200, 0.5);}
.msg-altrui, .msg-mio, .msg-nickname, .msg-nomereale {margin-top: 7px;}
.msg-mio {background-color: rgba(255, 190, 50, 0.25);}
.msg-nickname {background-color: rgba(165, 165, 165, 0.3);}

.tag {
	background: linear-gradient(to bottom,  #e68700 0%,#e2a200 9%,#e68700 100%) !important;
	color: white;
}

.data {
	color: gray;
	font-size: 40%;
}

.autore {
	font-weight: bold;
	font-size: smaller;
}

.sys .messaggio {
	color: #C00;
}

.messaggio {
	font-size: 110%;
}

.join .messaggio, .leave .messaggio {
	color: black;
}

.tag-jl {
	font-size: x-small;
	color: white;
	background-color: #4e8ef7;
	padding: .08em .2em !important;
	box-shadow: 1px 1px 0px black;
	margin-right: .2em;
}

.tag-msg {
	font-size: x-small;
	color: green;
	margin-right: .2em;
}

.riga {
	padding-bottom: 0px;
}

.tags {
	font-size: smaller;
	color: gray;
}

.azzerapadding {
	padding: 0px !important;
}

.niente-padding-sotto {
	padding-bottom: 0px !important;
}

.niente-padding-sopra {
	padding-top: 0px !important;
}

.figli-niente-padding-sotto * {
	padding-bottom: 0px !important;
}

.figli-niente-padding-sopra * {
	padding-top: 0px !important;
}

.messaggio-utente {
	border-left: 4px solid green;
}

.img-id {
	width: 1em;
	height: 1em;
}